p {
    font-family: Arial;
}

.model-name{
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-align: center;

}

.delivery-details{
    color: black;
    font-size: 25px;
    text-align: center;


}

.about-it{
    text-decoration: underline;
    color: #c24c4c;
    cursor: pointer;


}
.about-it:hover{
    opacity: 0.8;
    color: #5050c9;
    text-decoration: none;

}

.about-it:active{
    opacity: 0.3;


}
